* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #00040F;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.copy,
.poste {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 600px;
  background-color: #1A1E27;
  padding: 20px;
  border-radius: 5px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 1em;
  font-family: sans-serif;
  outline-color: #9EA0A4;

  &::placeholder{
    font-family: Arial, sans-serif;
  }
}

i{
  font-size: 2em;
  color: #9EA0A4;
  cursor: pointer;
  
  transition: color .5s ;

  &:hover{
    color: #62DAFC;
  }
}